In [3]:
import numpy as np

In [4]:
pip install csv

Collecting csv
Note: you may need to restart the kernel to use updated packages.

  ERROR: Could not find a version that satisfies the requirement csv (from versions: none)
ERROR: No matching distribution found for csv

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("general_data.csv")
data

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,45,No,Travel_Rarely,Research & Development,17,2,Medical,1,11,Male,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,36,No,Travel_Rarely,Research & Development,28,1,Life Sciences,1,12,Male,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,55,No,Travel_Rarely,Research & Development,14,4,Life Sciences,1,13,Female,...,0.0,Y,17,8,0,37.0,2,36,4,13
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
14,28,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,15,Male,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,37,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,16,Male,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,21,No,Travel_Rarely,Research & Development,3,2,Life Sciences,1,17,Male,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,37,No,Non-Travel,Research & Development,1,3,Medical,1,18,Male,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,35,No,Travel_Rarely,Sales,7,4,Life Sciences,1,19,Male,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,38,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,20,Female,...,1.0,Y,11,8,1,8.0,5,8,7,7
20,26,No,Travel_Frequently,Research & Development,1,4,Other,1,21,Male,...,1.0,Y,18,8,0,6.0,3,6,1,4
21,50,No,Travel_Rarely,Sales,8,4,Life Sciences,1,22,Male,...,3.0,Y,23,8,0,28.0,2,10,1,6
22,53,No,Travel_Rarely,Research & Development,11,4,Life Sciences,1,23,Female,...,3.0,Y,11,8,0,21.0,2,5,1,3
23,42,No,Travel_Rarely,Research & Development,4,4,Life Sciences,1,24,Male,...,1.0,Y,14,8,0,NaN,4,20,11,6
24,29,No,Travel_Frequently,Research & Development,16,4,Medical,1,25,Male,...,1.0,Y,11,8,1,10.0,2,10,0,9
25,55,No,Travel_Rarely,Research & Development,1,4,Other,1,26,Female,...,3.0,Y,11,8,0,12.0,2,10,0,8
26,26,No,Travel_Frequently,Research & Development,9,3,Life Sciences,1,27,Female,...,1.0,Y,22,8,0,5.0,3,5,3,3
27,37,No,Travel_Rarely,Sales,5,1,Marketing,1,28,Male,...,1.0,Y,11,8,0,17.0,2,17,5,7
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
29,38,No,Travel_Rarely,Sales,2,3,Marketing,1,30,Female,...,9.0,Y,12,8,0,10.0,3,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4380,35,No,Travel_Frequently,Research & Development,19,3,Life Sciences,1,4381,Female,...,1.0,Y,13,8,0,10.0,6,10,0,8
4381,29,Yes,Travel_Rarely,Research & Development,7,1,Life Sciences,1,4382,Female,...,1.0,Y,21,8,0,4.0,2,4,0,1
4382,52,No,Travel_Rarely,Research & Development,1,2,Medical,1,4383,Female,...,7.0,Y,14,8,0,6.0,5,2,2,2
4383,42,No,Travel_Rarely,Research & Development,7,4,Life Sciences,1,4384,Female,...,1.0,Y,11,8,2,22.0,2,22,11,15
4384,59,No,Travel_Rarely,Research & Development,4,4,Technical Degree,1,4385,Male,...,8.0,Y,11,8,0,7.0,3,2,2,2
4385,50,No,Travel_Rarely,Research & Development,11,2,Life Sciences,1,4386,Male,...,3.0,Y,23,8,1,32.0,2,7,0,6
4386,33,Yes,Travel_Rarely,Sales,11,4,Marketing,1,4387,Male,...,5.0,Y,21,8,0,8.0,2,5,0,4
4387,43,No,Travel_Rarely,Sales,1,3,Marketing,1,4388,Female,...,5.0,Y,24,8,0,22.0,3,17,1,9
4388,33,Yes,Travel_Rarely,Sales,1,3,Life Sciences,1,4389,Male,...,7.0,Y,11,8,0,13.0,2,9,1,7
4389,52,No,Non-Travel,Research & Development,2,3,Technical Degree,1,4390,Male,...,1.0,Y,14,8,0,33.0,3,33,15,12
4390,32,No,Travel_Rarely,Human Resources,13,4,Life Sciences,1,4391,Female,...,2.0,Y,16,8,1,6.0,2,4,1,2
4391,32,Yes,Travel_Rarely,Sales,23,1,Life Sciences,1,4392,Male,...,0.0,Y,11,8,0,4.0,2,3,1,2
4392,39,No,Travel_Rarely,Sales,26,4,Life Sciences,1,4393,Male,...,7.0,Y,12,8,1,7.0,2,3,1,2
4393,32,No,Non-Travel,Sales,2,4,Marketing,1,4394,Male,...,0.0,Y,13,8,1,4.0,3,3,2,2
4394,41,No,Travel_Rarely,Sales,29,3,Life Sciences,1,4395,Female,...,2.0,Y,15,8,0,17.0,3,1,0,0
4395,40,No,Travel_Rarely,Research & Development,2,3,Life Sciences,1,4396,Male,...,NaN,Y,14,8,1,9.0,4,9,4,7
4396,45,No,Travel_Rarely,Research & Development,18,1,Life Sciences,1,4397,Female,...,0.0,Y,14,8,0,25.0,4,24,1,7
4397,31,No,Travel_Frequently,Research & Development,7,4,Medical,1,4398,Male,...,9.0,Y,14,8,1,9.0,3,2,2,2
4398,33,No,Travel_Rarely,Research & Development,2,4,Life Sciences,1,4399,Female,...,1.0,Y,12,8,1,2.0,2,2,0,2
4399,34,No,Travel_Rarely,Research & Development,26,3,Other,1,4400,Female,...,6.0,Y,13,8,0,13.0,3,11,5,9
4400,37,No,Travel_Rarely,Research & Development,22,5,Medical,1,4401,Female,...,2.0,Y,14,8,3,17.0,3,3,0,2
4401,45,No,Travel_Frequently,Sales,21,1,Marketing,1,4402,Male,...,4.0,Y,13,8,0,9.0,3,3,0,2
4402,37,Yes,Travel_Frequently,Sales,2,3,Marketing,1,4403,Male,...,6.0,Y,11,8,1,17.0,2,1,0,0
4403,39,No,Travel_Frequently,Research & Development,22,3,Medical,1,4404,Female,...,0.0,Y,19,8,1,20.0,2,19,11,8
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [ ]:
# convert the given data to the values

In [22]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [23]:
print("Attrition:",data.Attrition.unique())
print("BusinessTravel:",data.BusinessTravel.unique())
print("Department:",data.Department.unique())
print("EducationField:",data.EducationField.unique())
print("Gender:",data.Gender.unique())
print("JobRole:",data.JobRole.unique())
print("MaritalStatus:",data.MaritalStatus.unique())
print("Over18:",data.Over18.unique())

Attrition: ['No' 'Yes']
BusinessTravel: ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Department: ['Sales' 'Research & Development' 'Human Resources']
EducationField: ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
Gender: ['Female' 'Male']
JobRole: ['Healthcare Representative' 'Research Scientist' 'Sales Executive'
 'Human Resources' 'Research Director' 'Laboratory Technician'
 'Manufacturing Director' 'Sales Representative' 'Manager']
MaritalStatus: ['Married' 'Single' 'Divorced']
Over18: ['Y']

In [ ]:
# just replace the variables to the values
# DataFrame.replace(self, to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad')
# use this replace fn to replace variables to values

In [24]:
data.replace(to_replace=['Yes','No'],value=[1,0],inplace = True)

In [25]:
data.replace(to_replace=['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'],value=[2,1,0],inplace = True)

In [26]:
data.replace(to_replace=['Sales', 'Research & Development', 'Human Resources'],value=[2,1,0],inplace = True)

In [27]:
data.replace(to_replace=['Life Sciences', 'Other', 'Medical', 'Marketing', 'Technical Degree',
 'Human Resources'],value=[5,4,3,2,1,0],inplace = True)

In [28]:
data.replace(to_replace=['Female', 'Male'],value=[1,0],inplace = True)

In [29]:
data.replace(to_replace=['Healthcare Representative', 'Research Scientist', 'Sales Executive',
 'Human Resources', 'Research Director', 'Laboratory Technician',
 'Manufacturing Director', 'Sales Representative', 'Manager'],value=[8,7,6,5,4,3,2,1,0],inplace = True)

In [30]:
data.replace(to_replace=['Married', 'Single', 'Divorced'],value=[2,1,0],inplace = True)

In [31]:
data

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,5,1,1,1,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,5,1,2,1,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,0,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,5,1,4,0,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,0,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,0,2,1,8,3,5,1,6,1,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,1,2,1,11,2,3,1,7,0,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,0,2,1,18,3,5,1,8,0,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,0,2,1,1,3,5,1,9,0,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,0,0,1,7,4,3,1,10,1,...,1.0,Y,13,8,1,6.0,2,6,1,5
10,45,0,2,1,17,2,3,1,11,0,...,0.0,Y,13,8,2,21.0,2,20,4,10
11,36,0,2,1,28,1,5,1,12,0,...,0.0,Y,12,8,2,16.0,2,15,10,11
12,55,0,2,1,14,4,5,1,13,1,...,0.0,Y,17,8,0,37.0,2,36,4,13
13,47,1,0,1,1,1,3,1,14,0,...,1.0,Y,11,8,2,10.0,4,10,9,9
14,28,0,2,1,1,3,5,1,15,0,...,1.0,Y,14,8,0,5.0,2,5,0,4
15,37,0,2,1,1,3,5,1,16,0,...,4.0,Y,11,8,0,7.0,2,5,0,1
16,21,0,2,1,3,2,5,1,17,0,...,1.0,Y,12,8,3,3.0,3,3,1,0
17,37,0,0,1,1,3,3,1,18,0,...,2.0,Y,13,8,1,15.0,2,5,0,2
18,35,0,2,2,7,4,5,1,19,0,...,7.0,Y,16,8,0,10.0,5,7,6,2
19,38,0,2,1,8,3,5,1,20,1,...,1.0,Y,11,8,1,8.0,5,8,7,7
20,26,0,1,1,1,4,4,1,21,0,...,1.0,Y,18,8,0,6.0,3,6,1,4
21,50,0,2,2,8,4,5,1,22,0,...,3.0,Y,23,8,0,28.0,2,10,1,6
22,53,0,2,1,11,4,5,1,23,1,...,3.0,Y,11,8,0,21.0,2,5,1,3
23,42,0,2,1,4,4,5,1,24,0,...,1.0,Y,14,8,0,NaN,4,20,11,6
24,29,0,1,1,16,4,3,1,25,0,...,1.0,Y,11,8,1,10.0,2,10,0,9
25,55,0,2,1,1,4,4,1,26,1,...,3.0,Y,11,8,0,12.0,2,10,0,8
26,26,0,1,1,9,3,5,1,27,1,...,1.0,Y,22,8,0,5.0,3,5,3,3
27,37,0,2,2,5,1,2,1,28,0,...,1.0,Y,11,8,0,17.0,2,17,5,7
28,44,1,1,1,1,2,3,1,29,0,...,3.0,Y,14,8,1,19.0,2,1,0,0
29,38,0,2,2,2,3,2,1,30,1,...,9.0,Y,12,8,0,10.0,3,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4380,35,0,1,1,19,3,5,1,4381,1,...,1.0,Y,13,8,0,10.0,6,10,0,8
4381,29,1,2,1,7,1,5,1,4382,1,...,1.0,Y,21,8,0,4.0,2,4,0,1
4382,52,0,2,1,1,2,3,1,4383,1,...,7.0,Y,14,8,0,6.0,5,2,2,2
4383,42,0,2,1,7,4,5,1,4384,1,...,1.0,Y,11,8,2,22.0,2,22,11,15
4384,59,0,2,1,4,4,1,1,4385,0,...,8.0,Y,11,8,0,7.0,3,2,2,2
4385,50,0,2,1,11,2,5,1,4386,0,...,3.0,Y,23,8,1,32.0,2,7,0,6
4386,33,1,2,2,11,4,2,1,4387,0,...,5.0,Y,21,8,0,8.0,2,5,0,4
4387,43,0,2,2,1,3,2,1,4388,1,...,5.0,Y,24,8,0,22.0,3,17,1,9
4388,33,1,2,2,1,3,5,1,4389,0,...,7.0,Y,11,8,0,13.0,2,9,1,7
4389,52,0,0,1,2,3,1,1,4390,0,...,1.0,Y,14,8,0,33.0,3,33,15,12
4390,32,0,2,0,13,4,5,1,4391,1,...,2.0,Y,16,8,1,6.0,2,4,1,2
4391,32,1,2,2,23,1,5,1,4392,0,...,0.0,Y,11,8,0,4.0,2,3,1,2
4392,39,0,2,2,26,4,5,1,4393,0,...,7.0,Y,12,8,1,7.0,2,3,1,2
4393,32,0,0,2,2,4,2,1,4394,0,...,0.0,Y,13,8,1,4.0,3,3,2,2
4394,41,0,2,2,29,3,5,1,4395,1,...,2.0,Y,15,8,0,17.0,3,1,0,0
4395,40,0,2,1,2,3,5,1,4396,0,...,NaN,Y,14,8,1,9.0,4,9,4,7
4396,45,0,2,1,18,1,5,1,4397,1,...,0.0,Y,14,8,0,25.0,4,24,1,7
4397,31,0,1,1,7,4,3,1,4398,0,...,9.0,Y,14,8,1,9.0,3,2,2,2
4398,33,0,2,1,2,4,5,1,4399,1,...,1.0,Y,12,8,1,2.0,2,2,0,2
4399,34,0,2,1,26,3,4,1,4400,1,...,6.0,Y,13,8,0,13.0,3,11,5,9
4400,37,0,2,1,22,5,3,1,4401,1,...,2.0,Y,14,8,3,17.0,3,3,0,2
4401,45,0,1,2,21,1,2,1,4402,0,...,4.0,Y,13,8,0,9.0,3,3,0,2
4402,37,1,1,2,2,3,2,1,4403,0,...,6.0,Y,11,8,1,17.0,2,1,0,0
4403,39,0,1,1,22,3,3,1,4404,1,...,0.0,Y,19,8,1,20.0,2,19,11,8
4404,29,0,2,2,4,3,4,1,4405,1,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,0,2,1,5,4,3,1,4406,1,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,4407,0,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,5,1,4408,0,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,4409,0,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,2,1,28,3,3,1,4410,0,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [ ]:
# usinng non- parametric test to execute the general data attrition

In [7]:
data1 = data[['Attrition','Age','DistanceFromHome','Education','JobLevel','MonthlyIncome','PercentSalaryHike','StandardHours','StockOptionLevel','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']]

In [8]:
data2 = data1[['Age','DistanceFromHome','Education','JobLevel','MonthlyIncome','PercentSalaryHike','StandardHours','StockOptionLevel','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']]

In [9]:
display(data1.info())
display(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 13 columns):
Attrition                  4410 non-null object
Age                        4410 non-null int64
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
JobLevel                   4410 non-null int64
MonthlyIncome              4410 non-null int64
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
dtypes: int64(12), object(1)
memory usage: 448.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 12 columns):
Age                        4410 non-null int64
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
JobLevel                   4410 non-null int64
MonthlyIncome              4410 non-null int64
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
dtypes: int64(12)
memory usage: 413.5 KB

None

In [42]:
mean = data2.mean()
mean

Age                           36.923810
DistanceFromHome               9.192517
Education                      2.912925
JobLevel                       2.063946
MonthlyIncome              65029.312925
PercentSalaryHike             15.209524
StandardHours                  8.000000
StockOptionLevel               0.793878
TrainingTimesLastYear          2.799320
YearsAtCompany                 7.008163
YearsSinceLastPromotion        2.187755
YearsWithCurrManager           4.123129
dtype: float64

In [43]:
median = data2.median()
median

Age                           36.0
DistanceFromHome               7.0
Education                      3.0
JobLevel                       2.0
MonthlyIncome              49190.0
PercentSalaryHike             14.0
StandardHours                  8.0
StockOptionLevel               1.0
TrainingTimesLastYear          3.0
YearsAtCompany                 5.0
YearsSinceLastPromotion        1.0
YearsWithCurrManager           3.0
dtype: float64

In [44]:
mode = data2.mode()
mode

,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,PercentSalaryHike,StandardHours,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,35,2,3,1,23420,11,8,0,2,5,0,2

In [45]:

skew = data1.skew()
skew

Age                        0.413005
DistanceFromHome           0.957466
Education                 -0.289484
JobLevel                   1.024703
MonthlyIncome              1.368884
PercentSalaryHike          0.820569
StandardHours              0.000000
StockOptionLevel           0.968321
TrainingTimesLastYear      0.552748
YearsAtCompany             1.763328
YearsSinceLastPromotion    1.982939
YearsWithCurrManager       0.832884
dtype: float64

In [46]:
kurtosis = data1.kurtosis()
kurtosis

Age                       -0.405951
DistanceFromHome          -0.227045
Education                 -0.560569
JobLevel                   0.395525
MonthlyIncome              1.000232
PercentSalaryHike         -0.302638
StandardHours              0.000000
StockOptionLevel           0.361086
TrainingTimesLastYear      0.491149
YearsAtCompany             3.923864
YearsSinceLastPromotion    3.601761
YearsWithCurrManager       0.167949
dtype: float64

In [47]:
correlation = data.corr()
correlation

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.024751,-0.010846,0.006963,-0.035706,0.000426,NaN,0.008649,0.039352,...,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,0.000074,-0.048206,-0.009730,-0.015111,-0.004352,NaN,-0.004729,-0.018125,...,-0.031176,0.042345,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199
BusinessTravel,0.024751,0.000074,1.000000,-0.010982,0.024616,0.002755,-0.037089,NaN,-0.002590,0.039243,...,-0.037597,0.022401,-0.031054,NaN,0.003683,0.033997,-0.041888,-0.014575,-0.032591,-0.022636
Department,-0.010846,-0.048206,-0.010982,1.000000,0.012134,-0.004597,-0.057499,NaN,-0.003455,-0.003158,...,-0.032237,-0.003954,-0.007840,NaN,0.010512,-0.019839,0.012866,0.010078,0.014845,0.018016
DistanceFromHome,0.006963,-0.009730,0.024616,0.012134,1.000000,-0.008638,-0.001178,NaN,-0.001097,0.044173,...,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,0.002755,-0.004597,-0.008638,1.000000,0.017543,NaN,-0.009680,0.016547,...,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EducationField,0.000426,-0.004352,-0.037089,-0.057499,-0.001178,0.017543,1.000000,NaN,-0.002761,0.010672,...,0.019726,0.007455,0.037735,NaN,-0.016273,0.002833,0.025643,0.012227,-0.020704,0.023682
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.004729,-0.002590,-0.003455,-0.001097,-0.009680,-0.002761,NaN,1.000000,0.013165,...,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
Gender,0.039352,-0.018125,0.039243,-0.003158,0.044173,0.016547,0.010672,NaN,0.013165,1.000000,...,-0.007530,0.066924,-0.011841,NaN,-0.019237,0.027598,0.030167,0.017277,0.021812,-0.004438
JobLevel,-0.002884,-0.010290,0.046111,0.002923,-0.037329,0.045746,-0.006665,NaN,-0.003303,0.026854,...,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
JobRole,-0.022802,0.034487,-0.020821,0.019860,-0.006886,-0.031508,-0.004762,NaN,-0.001772,-0.029147,...,-0.009338,-0.021521,-0.017475,NaN,0.066036,-0.027319,0.001438,-0.013602,-0.016176,0.045974
MaritalStatus,0.035466,-0.011195,0.065731,-0.060591,0.023191,0.003470,0.040918,NaN,0.001013,0.037943,...,-0.005096,-0.031727,-0.011877,NaN,-0.029988,0.015187,-0.011060,0.014779,0.036876,0.013365
MonthlyIncome,-0.044314,-0.031176,-0.037597,-0.032237,-0.021607,0.006410,0.019726,NaN,0.007338,-0.007530,...,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,0.042345,0.022401,-0.003954,-0.013843,-0.016250,0.007455,NaN,-0.001117,0.066924,...,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
PercentSalaryHike,-0.033137,0.032533,-0.031054,-0.007840,0.038125,-0.040531,0.037735,NaN,-0.004456,-0.011841,...,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,-0.006839,0.003683,0.010512,0.011169,0.001261,-0.016273,NaN,-0.014254,-0.019237,...,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,-0.170338,0.033997,-0.019839,0.009374,-0.010717,0.002833,NaN,-0.001063,0.027598,...,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.049431,-0.041888,0.012866,-0.009001,0.010472,0.025643,NaN,-0.010191,0.030167,...,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,-0.014575,0.010078,0.031684,0.006080,0.012227,NaN,0.004086,0.017277,...,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,-0.032591,0.014845,0.002290,0.022490,-0.020704,NaN,0.000256,0.021812,...,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,-0.022636,0.018016,0.021584,0.005358,0.023682,NaN,0.008579,-0.004438,...,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000

In [32]:
import pandas as pd

### wilcoxon test

In [61]:
from scipy.stats import wilcoxon

In [62]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,5,1,1,1,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,5,1,2,1,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,0,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,5,1,4,0,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,0,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [63]:
d1 = data.Attrition
d2 = data.BusinessTravel

In [64]:
stat, p = wilcoxon(d1,d2)

In [65]:
print(stat , p)

20322.0 0.0

In [ ]:
# taking another data comparison  # 2nd example

In [66]:
d1 = data.DistanceFromHome
d2 = data.PercentSalaryHike

In [67]:
stat, p = wilcoxon(d1,d2)

In [68]:
print(stat , p)

1622232.0 3.889561423902459e-302

In [57]:
# 3 rd example

In [69]:
d1 = data.TotalWorkingYears
d2 = data.Department

In [70]:
stat, p = wilcoxon(d1,d2)

In [71]:
print(stat , p)

14250.0 0.0

In [72]:
print(f'The Value of p in wilcoxon test is: {p}')
if p < 0.05:
    print('There is significant impact of TotalWorkingYears on Department')
else:
    print('There is no significant impact of TotalWorkingYears on Department')

The Value of p in wilcoxon test is: 0.0
There is significant impact of TotalWorkingYears on Department

## Friedmanchisquare

In [64]:
from scipy.stats import friedmanchisquare

In [65]:
d1 = data.TotalWorkingYears
d2 = data.Department

In [68]:
d3 = data.Attrition

In [69]:
stats, p = friedmanchisquare(d1,d2,d3)

In [70]:
print(stats , p)

7886.554222648757 0.0

### Mannwhitneyu

In [72]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,5,1,1,1,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,5,1,2,1,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,0,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,5,1,4,0,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,0,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [73]:
from scipy.stats import mannwhitneyu

In [74]:
a1 = data.EmployeeCount
a2 = data.EmployeeID

In [75]:
stats , p =mannwhitneyu(a1,a2)

In [76]:
print(stats , p)

2205.0 0.0

### Kruskal Wallis

In [78]:
from scipy.stats import kruskal

In [82]:
b1 = data.EmployeeCount
b2 = data.EmployeeID
b3 = data.StandardHours

In [83]:
stats, p = kruskal(b1,b2,b3)

In [85]:
print(stats , p)

12676.091232111397 0.0