In [1]:
import pandas as pd

In [2]:
df = [["milk" , 'bread ' , 'wheat bread',] , ['jam' , 'bread' , 'butter '],['milk' , 'jam','bread','butter'],['jam' , 'butter']]

In [3]:
df

[['milk', 'bread ', 'wheat bread'],
 ['jam', 'bread', 'butter '],
 ['milk', 'jam', 'bread', 'butter'],
 ['jam', 'butter']]

In [6]:
pip install mlxtend --user

Collecting mlxtend
  Downloading https://files.pythonhosted.org/packages/4c/0d/4a73b8bc49e2cfee178fe50dd8e84d5ba817d0b2454b09308397416e0e48/mlxtend-0.17.3-py2.py3-none-any.whl (1.3MB)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\bhubesh\anaconda2\lib\site-packages (from mlxtend) (3.1.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\bhubesh\anaconda2\lib\site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\bhubesh\anaconda2\lib\site-packages (from mlxtend) (1.16.4)
Requirement already satisfied: setuptools in c:\users\bhubesh\anaconda2\lib\site-packages (from mlxtend) (49.2.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\bhubesh\anaconda2\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\bhubesh\anaconda2\lib\site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\bhubesh\anaconda2\lib\site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: cycler>=0.10 in c:\users\bhubesh\anaconda2\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bhubesh\anaconda2\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\bhubesh\anaconda2\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\bhubesh\anaconda2\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\bhubesh\anaconda2\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: pytz>=2011k in c:\users\bhubesh\anaconda2\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.1)
Requirement already satisfied: six in c:\users\bhubesh\anaconda2\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.12.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.17.3
Note: you may need to restart the kernel to use updated packages.

In [7]:
from mlxtend .preprocessing import TransactionEncoder

In [8]:
te = TransactionEncoder()

In [9]:
te_ary = te.fit(df).transform(df)

In [10]:
df1 = pd.DataFrame(te_ary , columns = te.columns_)

In [11]:
print(df1)

   bread  bread   butter  butter     jam   milk  wheat bread
0  False    True   False    False  False   True         True
1   True   False   False     True   True  False        False
2   True   False    True    False   True   True        False
3  False   False    True    False   True  False        False

In [ ]:
# Apriori only understands only the Boolean

In [12]:
from mlxtend.frequent_patterns import apriori

In [15]:
apriori(df1,min_support = 0.1)

    support      itemsets
0      0.50           (0)
1      0.25           (1)
2      0.50           (2)
3      0.25           (3)
4      0.75           (4)
5      0.50           (5)
6      0.25           (6)
7      0.25        (0, 2)
8      0.25        (0, 3)
9      0.50        (0, 4)
10     0.25        (0, 5)
11     0.25        (1, 5)
12     0.25        (1, 6)
13     0.50        (2, 4)
14     0.25        (2, 5)
15     0.25        (3, 4)
16     0.25        (4, 5)
17     0.25        (5, 6)
18     0.25     (0, 2, 4)
19     0.25     (0, 2, 5)
20     0.25     (0, 3, 4)
21     0.25     (0, 4, 5)
22     0.25     (1, 5, 6)
23     0.25     (2, 4, 5)
24     0.25  (0, 2, 4, 5)

In [ ]:
# icluding the name

In [31]:
apriori(df1,min_support = 0.1 , use_colnames = True)

    support                     itemsets
0      0.50                      (bread)
1      0.25                     (bread )
2      0.50                     (butter)
3      0.25                    (butter )
4      0.75                        (jam)
5      0.50                       (milk)
6      0.25                (wheat bread)
7      0.25              (bread, butter)
8      0.25             (butter , bread)
9      0.50                 (jam, bread)
10     0.25                (milk, bread)
11     0.25               (bread , milk)
12     0.25        (bread , wheat bread)
13     0.50                (jam, butter)
14     0.25               (milk, butter)
15     0.25               (butter , jam)
16     0.25                  (milk, jam)
17     0.25          (milk, wheat bread)
18     0.25         (jam, bread, butter)
19     0.25        (milk, bread, butter)
20     0.25        (butter , bread, jam)
21     0.25           (milk, jam, bread)
22     0.25  (bread , wheat bread, milk)
23     0.25          (milk, jam, butter)
24     0.25   (milk, jam, bread, butter)

In [33]:
# to print one or two or three
frequent_itemsets = apriori(df1, min_support=0.1, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                     itemsets  length
0      0.50                      (bread)       1
1      0.25                     (bread )       1
2      0.50                     (butter)       1
3      0.25                    (butter )       1
4      0.75                        (jam)       1
5      0.50                       (milk)       1
6      0.25                (wheat bread)       1
7      0.25              (bread, butter)       2
8      0.25             (butter , bread)       2
9      0.50                 (jam, bread)       2
10     0.25                (milk, bread)       2
11     0.25               (bread , milk)       2
12     0.25        (bread , wheat bread)       2
13     0.50                (jam, butter)       2
14     0.25               (milk, butter)       2
15     0.25               (butter , jam)       2
16     0.25                  (milk, jam)       2
17     0.25          (milk, wheat bread)       2
18     0.25         (jam, bread, butter)       3
19     0.25        (milk, bread, butter)       3
20     0.25        (butter , bread, jam)       3
21     0.25           (milk, jam, bread)       3
22     0.25  (bread , wheat bread, milk)       3
23     0.25          (milk, jam, butter)       3
24     0.25   (milk, jam, bread, butter)       4

In [37]:
frequent_itemsets[(frequent_itemsets['length'] ==3)&(frequent_itemsets['support']>=0.2)]

    support                     itemsets  length
18     0.25         (jam, bread, butter)       3
19     0.25        (milk, bread, butter)       3
20     0.25        (butter , bread, jam)       3
21     0.25           (milk, jam, bread)       3
22     0.25  (bread , wheat bread, milk)       3
23     0.25          (milk, jam, butter)       3

In [41]:
frequent_itemsets[(frequent_itemsets['length'] ==1)&(frequent_itemsets['support']>=0.1)]

   support       itemsets  length
0     0.50        (bread)       1
1     0.25       (bread )       1
2     0.50       (butter)       1
3     0.25      (butter )       1
4     0.75          (jam)       1
5     0.50         (milk)       1
6     0.25  (wheat bread)       1